#  Database Configuration
# Copy this file to .env and fill in your values
DB_USER=your_db_user
DB_PASS=your_db_password
DB_HOST=localhost
DB_PORT=5436
DB_NAME=meteo_france

# ── Metabase Configuration
METABASE_PORT=4200

# ── Data Pipeline Configuration
DEPARTMENTS=06,13,33,59,67,69,75
CHUNK_SIZE=10000
